<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}InApp Inventory Dashboard{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('inapp/assets/images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('inapp/assets/images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('inapp/assets/images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('inapp/assets/site.webmanifest') }}">

    {% block stylesheets %}
        <link rel="stylesheet" crossorigin href="/styles/app.css">
        <script type="module" crossorigin src="/js/main.js"></script>
    {% endblock %}
</head>
<body>
    <div id="overlay" class="overlay"></div>

    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}
</body>
</html>